.pixel-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Changed auto-fill to auto-fit */
  gap: 10px;
  margin-top: 20px;
  width: 100%; /* Ensure full width */
}

.pixel-box {
  padding: 15px;
  text-align: center;
  border: 2px solid #D3D3D3;
  box-shadow: 2px 2px 0px #BDBDBD;
  font-family: 'HandJet', 'Courier New', monospace;
  font-size: 16px;
  color: #2C3E50;
  transition: background-color 0.3s ease;
}
.pixel-box.graph {
  text-align: left; /* or initial */
  display: flex;
  flex-direction: column;
}

.pixel-box.graph h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.pixel-box:hover {
  background-color: #D3D3D3;
  cursor: pointer;
}

/* Color classes for pixel boxes */
.color-a2c2dd { background-color: #A2C2DD; }
.color-d8a7b1 { background-color: #D8A7B1; }
.color-bfd8bd { background-color: #BFD8BD; }